
@import "tailwindcss";

/* Default = dark */
:root {
  --background: #0b1023;
  --foreground: #ffffff;

  --bg-surface: #111633;
  --border-subtle: #1f2547;

  --text-primary: #ffffff;
  --text-muted: #9ca3af;

  --accent: #ce80dd;
}

/* Light mode only if .light class is applied */
.light {
  --background: #f9fafb;
  --foreground: #111827;

  --bg-surface: #ffffff;
  --border-subtle: #e5e7eb;

  --text-primary: #111827;
  --text-muted: #6b7280;

  --accent: #ce80dd;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}